/**
 * Created by xu.long on 2018/5/12.
 */
#project_detail {
  .content {
    margin: 24px 16px;
    background: #fff;
    min-height: 2.8rem;
    overflow: auto;
    .title {
      height: 6.4rem;
      line-height: 6.4rem;
      padding: 0 2rem;
      font-size: 1.7rem;
      background-color: #ffffff;
    }
    .basic_info {
      margin: 0 2rem;
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid rgb(221, 221, 221);
    }
    .project_area_info {
      margin: 0 2rem;
      padding-bottom: 2rem;
      .header {
        text-align: center;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        line-height: 4.4rem;
        height: 4.4rem;
        border: 0.1rem solid rgb(221, 221, 221);
      }
      .data {
        text-align: center;
        line-height: 4.4rem;
        height: 4.4rem;
        border-bottom: 0.1rem solid rgb(221, 221, 221);
      }
      .total {
        text-align: center;
        line-height: 4.4rem;
        height: 4.4rem;
        border-bottom: 0.1rem solid rgb(221, 221, 221);
      }
    }
    .provider_info {
      padding: 0 2rem;
    }
  }
}
