/**
 * Created by xu.long on 2018/5/12.
 */
#tenement_member_management {
  .content {
    margin: 24px 16px;
    background: #ffffff;
    min-height: 280px;
    overflow: auto;
    padding: 2rem 0;
  }
}
