/**
 * Created by xu.long on 2018/5/12.
 */
#organization_management {
  .content {
    padding: 2rem 0;
    margin: 24px 16px;
    background: #ffffff;
    min-height: 280px;
    overflow: auto;
  }
}
