/**
 * Created by xu.long on 2018/6/23.
 */
#login_log_record_management {
  .content {
    padding: 2rem 0;
    margin: 24px 16px;
    background: #fff;
    min-height: 2.8rem;
    overflow: auto;
  }
}
